@keyframes scan-line {
  0% {
    top: 5%;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 95%;
    opacity: 0;
  }
}
.animate-scan-line {
  animation: scan-line 2.5s ease-in-out infinite;
}
